In [17]:
#creating set
S={10,20,"priyanka",30}
print(S)

#set can not take list,dictionary(i.e mutable ) but can take tuple as an element
s1={10,[2,4,5,6],"priyanka"}
s2={10,"priyanka",{10,20}}
s3={10,"priyanka",(5,6,3),{1:'a',2:'b'}}
s4={10,"priyanka",(5,6,3)}

print(s1)
print(s2)
print(s3)
print(s4)

{'priyanka', 10, 20, 30}
{'priyanka', 10, (5, 6, 3)}

In [21]:
#creating empty set using set()
a=set()
print(type(a))

#using { } it shows dict as a type
s1={}
print(type(s1))

<class 'set'>
<class 'dict'>

In [25]:
#duplicates are not allowed

s={"apple","banana","apple"}
print(s)

{'banana', 'apple'}

In [24]:
#acessing set elements

a = {10, 20,"GeekyShows", "Raj", 40}
print(a[0])

TypeError: 'set' object is not subscriptable

In [2]:
#add item
s1={1,2,3,4}
s1.add(7)
print(s1)

{1, 2, 3, 4, 7}

In [4]:
#add multiple items
s1={1,2,3,4}
s1.update([6,2,1,7])
print(s1)

{1, 2, 3, 4, 6, 7}

In [11]:
#Deleting element
s1={1,2,3,4}
s1.remove(4)
print(s1)

{1, 2, 3}

In [28]:
#Deleting element
s1={1,2,3,4}
s1.pop()
print(s1)

{2, 3, 4}

In [9]:
#Deleting element
s1={1,2,3,4}
s1.discard(5)
print(s1)

{1, 2, 3, 4}

In [26]:
#Deleting element
s1={1,2,3,4}
del s1
print(s1)

NameError: name 's1' is not defined

In [29]:
#Deleting element
s1={1,2,3,4}
s1.clear()
print(s1)

set()

In [2]:
#isdisjoint
s1={1,2,3,4}
s2={1,2,3,4,5}
print(s1.isdisjoint(s2))

False

In [27]:
#issubset
s1={1,2,3,4}
s2={1,2,3,4,5}
print(s1.issubset(s2))

True

In [29]:
s1={1,2,3,4} 
s2={1,2,3,4,5} 
print(s2.issuperset(s1))

True

In [30]:
#JOIN SET - union
s1={1,2,3,4} 
s2={1,2,3,4,5,7,8,10} 
print(s1.union(s2))

{1, 2, 3, 4, 5, 7, 8, 10}

In [37]:
#Keep ONLY the Duplicates
s1={1,2,3,4} 
s2={1,2,3,4,5,7,8,10} 
print(s1.intersection(s2))

{1, 2, 3, 4}

In [36]:
#intersection update
s1={1,2,3,4,11} 
s2={1,2,3,4,5,7,8,10} 
print(s1.intersection_update(s2))

None

In [35]:
#Keep All, But NOT the Duplicates
#differnece
s1={1,2,3,4} 
s2={1,2,3,4,5,7,8,10} 
print(s2.difference(s1))

{8, 10, 5, 7}

In [36]:
#symmetric_difference
s1={1,2,3,4,11,13,15} 
s2={1,2,3,4,5,7,8,10} 
print(s2.symmetric_difference(s1))

{5, 7, 8, 10, 11, 13, 15}

In [1]:
#symmetric_difference_update
s1={1,2,3,4,11,13,15} 
s2={1,2,3,4,5,7,8,10} 
print(s2.symmetric_difference_update(s1))

None

In [2]:
a=set()
print(a)
n=int(input("enter no:"))
for i in range(n):
    m=input("enter strigng:")
    a.add(m)
    print(a)

set()
enter no:2
enter strigng:priyanka
{'priyanka'}
enter strigng:madhuri
{'priyanka', 'madhuri'}

In [18]:
#lower case string to upper case string using generator

def gene(str1):
    for i in str1:
        str1.upper()
        yield str1[i]
        
str1=input("Enter string: ")
x=gene(str1)
print(x)

Enter string: priyanka
<generator object gene at 0x0000027122877290>

In [16]:
#reverse string
def reversstr(mystr):
    l=len(mystr)
    for i in range(l-1,-1,-1):
        yield mystr[i]
for chr in reversstr('priyanka'):
    print(chr, end=" ")

a k n a y i r p