In [ ]:
#how tuple is immutable

t=(2,3,4,6,7)
t1=list(t)
t1[1]=9
print(t1)

In [ ]:
#1.	With one element

tup=(24)
print(tup)
print(type(tup))
tup1=(24,)
print(tup1)
print(type(tup1))

In [ ]:
#different ways of writing tuple with multiple values
#elemenst are of same data type
Tup1=(10,20,30,40,50)
print("Tup1:",Tup1,type(Tup1))

#elemenst are of different datatypes
Tup2=(33,"priyanka",12.5,-122,"deo")
print("Tup2:", Tup2,type(Tup2))

# tuple allows duplicate values too 
Tup3=("priyanka",100,[1,2,3],"deo","priyanka")  
print("Tup3:",Tup3,type(Tup3))

#without parenthesis
Tup4=10,20,-50,"priyanka"
print("Tup4:", Tup4,type(Tup4))

#creating tuple with tuple constructor
Tup5= tuple((10,20,30,40,50))
print("Tup5:", Tup5,type(Tup5))

In [ ]:
#Creating empty tuple
tup=()
print(tup,type(tup))

In [ ]:
#accessing Tuple using index
#using positive index
tup=(10,20,30,40)

print(tup[0])
print(tup[1])
print(tup[2])
print(tup[3])

In [ ]:
#Accesing using loop
#without index
a=(10,20,30,40,50)
for i in a:
    print(i)

In [ ]:
#using negetive index

tup=(10,20,30,40)

print(tup[-1])
print(tup[-2])
print(tup[-3])
print(tup[-4])
print(tup[-5]) #show tuple index out of range

In [ ]:
#range of indexes
#Return the third, fourth, and fifth item
#The search will start at index 2 (included) and end at index 5 (not included).
tup=(10,20,30,40,"priyanka",12.5)
print(tup[2:5])

In [ ]:
#By leaving out the start value, the range will start at the first item
#This example returns the items from the beginning to, but NOT included "priyanka".
#it is always return last elemnt-1
tup=(10,20,30,40,"priyanka",12.5)
print(tup[:4])
tup=(10,20,30,40,"priyanka",12.5)
print(tup[1:])

In [ ]:
#negative slicing
tup=(10,20,30,40,"priyanka",12.5)
print(tup[-5:-3])
print(tup[-5:])
print(tup[:-3])

In [ ]:
#Acessing using loop
#with index
a=(10,20,30,40,50)
n = len(a)
for i in range(n):
	print(a[i])

In [ ]:
#Acessing uisng while loop
a=(10,20,30,40,50)
i=0
n=len(a)
while i<n:
    print(a[i])
    i+=1

In [ ]:
#Concatenation of 2 tuples

t1=(12,33,41,"priyanka")
t2=("deo",25,76,1)

t3=(t1+t2)
print(t3)

In [ ]:
#multiply of 2 tuples
t1=(12,33,41,"priyanka")
t2=t1*3
print(t2)

In [ ]:
#nesting of tuples
t1=(12,33,41,"priyanka")
t2=("deo",25,76,1)

t3=(t1,t2)
print(t3)

In [1]:
#accessing nested tuples
t1=((12,33,41,"priyanka"),
    ("deo",25,76,1),
   (21,65,80)
   )

print(t1)
for i in t1: #outer for loop represent the rows 
    for j in i: #inner for loop represt the columns in each row
        print(j ,end="")
    print()

((12, 33, 41, 'priyanka'), ('deo', 25, 76, 1), (21, 65, 80))
123341priyanka
deo25761
216580

In [2]:
#REPEATION TUPLES
t1=("priyanka",)*6
print(t1)

('priyanka', 'priyanka', 'priyanka', 'priyanka', 'priyanka', 'priyanka')

In [4]:
#ALIASING TUPLE
#Aliasing means giving another name to the existing object. It doesnâ€™t mean copying.
a = (10, 20, 30, 40, 50)
b = a
print(b)
print(id(a))
print(id(b))

(10, 20, 30, 40, 50)
1786334704352
1786334704352

In [6]:
#copying tuple
a = (10, 20, 30, 40, 50)
b = a
b = a[0:5]
print(b)
b = a[1:4]
print(b)
print(a)

(10, 20, 30, 40, 50)
(20, 30, 40)
(10, 20, 30, 40, 50)

In [ ]:
#Tuples are immutable 
  
tuple1 = (0, 1, 2, 3)
tuple1[0] = 4
print(tuple1)

In [ ]:
#deleting a tuple
tuple3 = ( 0, 1)
del tuple3
print(tuple3)

In [7]:
#Converting list to a Tuple
list1 = [0, 1, 2]
print(tuple(list1))
print(tuple('python'))

(0, 1, 2)
('p', 'y', 't', 'h', 'o', 'n')

In [8]:
#UPDATE TUPLE
#change tuple values
t=('priyanka',24,12.5,456,75)
x=list(t)
x[3]='deo'
y=tuple(x)
print(y)

('priyanka', 24, 12.5, 'deo', 75)

In [9]:
#add items
#add items values
t=('priyanka',24,12.5,456,75)
x=list(t)
x.append('Pune')
y=tuple(x)
print(y)

('priyanka', 24, 12.5, 456, 75, 'Pune')

In [10]:
#add tuple to the tuple
t=('priyanka',24,12.5,456,75)
x=('deo',)
t+=x
print(t)

('priyanka', 24, 12.5, 456, 75, 'deo')

In [11]:
#remove items
t=('priyanka',24,12.5,456,75)
x=list(t)
x.remove(12.5)
y=tuple(x)
print(y)

('priyanka', 24, 456, 75)

In [12]:
#delete tuple complety
t=('priyanka',24,12.5,456,75)
del t
print(t) #this will raise an error

NameError: name 't' is not defined

In [13]:
#passing tuple to the function
#We can pass a tuple to a function while calling function.
def show(t):
	print(t)
	print(type(t))
	for i in t:
		print(i)

t = (10, 20, 30, 'priyanka')
show(t)

(10, 20, 30, 'priyanka')
<class 'tuple'>
10
20
30
priyanka

In [14]:
#packing unpacking of tuples

user_details=("priyanka",30,"MSC","Pune")  #packing of a tuple
print(user_details)
(name,age,education,address)=user_details
print(name)
print(age)
print(education)
print(address)

('priyanka', 30, 'MSC', 'Pune')
priyanka
30
MSC
Pune

In [17]:
#Using Asterisk*

user_details=("priyanka",30,"MSC","Ambegoan","Pune","Maharashtra")
(name,age,*education,address)=user_details
print(name)
print(age)
print(education)
print(address)

priyanka
30
['MSC', 'Ambegoan', 'Pune']
Maharashtra

In [18]:
user_details=("priyanka","Ambegoan","Pune","Maharashtra",30,"MSC",)
(name,*address,age,education)=user_details
print(name)
print(address)
print(age)
print(education)

priyanka
['Ambegoan', 'Pune', 'Maharashtra']
30
MSC

In [19]:
#count method

t=('priyanka',24,12.5,24,456,75,24)
t.count(24)

3

In [21]:
#index method
t=(24,'priyanka',24,12.5,24,456,75,24)
t.index(24)

0

In [25]:
#sorting is possible directly
t=(24,24,12.5,24,456,75,24)
t2=sorted(t,reverse=True)
print(t2)

[456, 75, 24, 24, 24, 24, 12.5]

In [28]:
#Remove empty tuples from a list 

t=[12,(),35,23,()]
t1=[]

for i in t:
    if i==():
        t.remove(i)
        
print(t)

[12, 35, 23]

In [28]:
#tuple to dict convertion
def convert(t,d):
    di=dict(t)
    return di

t = [("akash", 10), ("gaurav", 12), ("anand", 14), 
    ("suraj", 20), ("akhil", 25), ("ashish", 30)]
d={}
print(convert(t,d))

{'akash': 10, 'gaurav': 12, 'anand': 14, 'suraj': 20, 'akhil': 25, 'ashish': 30}

In [26]:
#program to find Tuples with positive elements in List of tuples
test_list = [(4, 5, 9), (-3, 2, 3), (-3, 5, 6), (4, 6)]
res=list(filter(lambda t: all(i>=0 for i in t),test_list))
print(res)

[(4, 5, 9), (4, 6)]