In [33]:
##Arithmetic operator
#Addition operator +
x = 10
y = 40
print(x + y)

## or 
name = "Madhuri"
surname = "Adat"
print(surname + " " + name)

50
Adat Madhuri

In [34]:
#Subtraction -
x = 10
y = 40
print(y - x)

30

In [36]:
#Multiplication *
x = 2
y = 4
z = 5
print(x * y)
print(x * y * z)

8
40

In [37]:
#division /
x = 2
y = 4
print(y / x)

2.0

In [42]:
# Floor division //

x = -13
y = 2
print(x // y)

-7

In [43]:
#modules %
x = 15
y = 4
print(x % y)

a=a+5
a+=5

3

In [45]:
#Exponent **

num = 6

print(num ** 2) 


## < oprator
a=10
b=5
if a>b:
    print("True")
else:
    print("False")

36
True

In [67]:
#Membership operators
#In operator
my_list = [11, 15, 21, 29, 50, 70]
num= 15
# if num in my_list:
#     print(num,"True")
# else:
#     print(num,"False")

print(num in my_list)

True

In [70]:
#Not in operator

my_tuple = (11, 15, 21, 29, 50, 70)
num = 35
if number not in my_tuple:
    print("number is not present")
else:
    print("number is present")
    
print(num not in my_list)


str1="python"
s='i'
print(s not in str1)

number is not present
True
True

In [71]:
#Python has 2 identity operators is and is not.
#is operator
x = 10
y = 11 
z = 10
print(x is y) # it compare memory address of x and y 
print(id(x))
print(id(y))
print(x is z) # it compare memory address of x and z
print(id(z))

False
2180409197072
2180409197104
True
2180409197072

In [78]:
#is not operator
# x = 10
# y = 11 
# z = 10
# print(x is not y) # it campare memory address of x and y 
# print(x is not z) # it campare memory address of x and z

# l1=(1,2,3,4,5)
# l2=(1,2,3,4,5)
# print(id(l1))
# print(id(l2))
# print(l1 is l2)

s='python'
s1='python'
print(id(s))
print(id(s1))
print(s is s1)

2180453540720
2180453540720
True

In [82]:
#Bitwise Operators
#Bitwise and &
a = 7
b = 2

print(a & b)

2

In [83]:
#Bitwise or
a = 7
b = 4
print(a or b)

7

In [18]:
#Bitwise xor ^â€“
a = 7
b = 4
c = 5
print(a ^ c)
print(b ^ c)

2
1

In [84]:
# if statement
number = 6
if number > 5:
    # Calculate square
    print(number * number)

36

In [1]:
# if-else
number = int(input("Enter the number:"))
if number > 5:
	print("number is grater than 5")
else:
	print("number is smaller than 5")

Enter the number:3
number is smaller than 5

In [3]:
## if-elif-else
def user_check(choice):
    if choice == 1:
        print("Admin")
    elif choice == 2:
        print("Editor")
    elif choice == 3:
        print("Guest")
    else:
        print("Wrong entry")
#user_check(1)
# user_check(2)
# user_check(3)
user_check(4)

Wrong entry

In [6]:
## nested if
num1 = int(input('Enter first number '))
num2 = int(input('Enter second number '))

if num1 >= num2:
    if num1 == num2:
        print(num1, 'and', num2, 'are equal')
    
    else:
        print(num1, 'is greater than', num2)
else:
    print(num1, 'is smaller than', num2)

Enter first number 31
Enter second number 31
31 and 31 are equal

In [11]:
## for loop
for i in range(1, 11):
    print(i)
    
li=[21,6,89,23,66,12,7]
print(li)
for i in li:
    if i%2!=0:
        print(i)
    else:
        pass

1
2
3
4
5
6
7
8
9
10
[21, 6, 89, 23, 66, 12, 7]
21
89
23
7

In [16]:
## while loop
num = 10
sum = 0
i = 1
while i <= num:
    sum = sum + i
    i = i + 1
print("Sum of first 10 number is:", sum)

Sum of first 10 number is: 55

In [18]:
## break statemnt
for num in range(10):
    if num > 3:
        print("stop processing.")
        break
    print(num)

0
1
2
3
stop processing.

In [19]:
#continue statement
for num in range(3, 8):
    if num == 5:
        continue
    else:
        print(num)

3
4
6
7

In [26]:
# pass statment
months = ['January', 'June', 'March', 'April']
for mon in months:
    pass 
    print("True")
    if "March" in months:
        print("Yes")
print(months)

True
Yes
True
Yes
True
Yes
True
Yes
['January', 'June', 'March', 'April']

In [48]:
a = 2
b = 4

# Logical and
if a > 0 and b > 0:
    # both conditions are true
    print(a * b)
else:
    print("Do nothing")

8

In [55]:
a = 22
b = 40
if a <0 or b < 0:
    # at least one expression is true so conditions is true
    print(a + b)  # 6
else:
    print("Do nothing")

Do nothing

In [63]:
a=1
if not a:
    # a is True so expression is False
    print(a) 
else:
    print("Do nothing")

Do nothing

In [27]:
#Single statement suites
a=10
print(True ) if a<15 else print(False)

True

In [30]:
a=23
b=31
c=14
max=(a if a>b and a>c else b if b>c else c)
print(max)

31

In [1]:
#Python Operators Precedence
print((10 - 4) * 2 +(10+2))

24