In [1]:
#empty dictby by using {}
d={}
print(type(d))
#empty dict by using dict()fun
d1=dict()
print(type(d1))

# create a dictionary using {}
d1={"Name":"Madhiuri","Age":26,"Class":"Python"}
print(d1)

# create a dictionary using dict()
d2= dict({"name": "Jessa", "country": "USA", "telephone": 1178})
print(d2)

<class 'dict'>
<class 'dict'>
{'Name': 'Madhiuri', 'Age': 26, 'Class': 'Python'}
{'name': 'Jessa', 'country': 'USA', 'telephone': 1178}

In [4]:
# first key is string and second is an integer
sample_dict = {"name": "Jessa", 10: "Mobile"}
print(sample_dict)

{'name': 'Jessa', 10: 'Mobile'}

In [6]:
#Accessing elements of a dictionary
d3= {"name": "Jessa", 10: "Mobile"}
print(d3)
# using []
print(d3['name'])

#using get
print(d3.get(10))

{'name': 'Jessa', 10: 'Mobile'}
Jessa
Mobile

In [6]:
## Accessing all key and values.
d4= {"name": "Jessa", "country": "USA", "telephone": 1178}
print(d4)

# keys()
print(d4.keys())

print(d4.values())

print(d4.items())

{'name': 'Jessa', 'country': 'USA', 'telephone': 1178}
dict_keys(['name', 'country', 'telephone'])
dict_values(['Jessa', 'USA', 1178])
dict_items([('name', 'Jessa'), ('country', 'USA'), ('telephone', 1178)])

In [10]:
#Adding and modify  items to the dictionary
# add by using key_value
d5= {"name": "Madhuri", 'country': "India", "Mobile": 1178464}
print(d5)
d5['Age']=26
print(d5)

# modify or change
d5.update({'country':'USA'})
print(d5)

{'name': 'Madhuri', 'country': 'India', 'Mobile': 1178464}
{'name': 'Madhuri', 'country': 'India', 'Mobile': 1178464, 'Age': 26}
{'name': 'Madhuri', 'country': 'USA', 'Mobile': 1178464, 'Age': 26}

In [21]:
#Nested Dictionaries
#A dictionary can contain dictionaries, this is called nested dictionaries.

d6={'Name':
    {'F_name':'Madhuri','L_name':'Burande'},
    'class':{'Python':100,'jva':110}
   }
print(d6)

{'Name': {'F_name': 'Madhuri', 'L_name': 'Burande'}, 'class': {'Python': 100, 'jva': 110}}

In [28]:
#Copy a Dictionary
#There are ways to make a copy, one way is to use the built-in Dictionary method copy().

d7= {"brand": "Ford","model": "Mustang","year": 1964}
d8=d7.copy()
print("d8=",d8)

#Another way to make a copy is to use the built-in function dict()
my_dict=dict(d7)
print("my_dict=",my_dict)

d8= {'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
my_dict= {'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [41]:
# Loop Through a Dictionary
#You can loop through a dictionary by using a for loop.
d9= {"brand": "Ford","model": "Mustang","year": 1964}
for key,value in d9.items():
    print(key,value)
print()
    
#Print all key names in the dictionary, one by one:
for key in d9:
    print("Only key :",key)
print()

#You can use the keys() method to return the keys of a dictionary:
for k in d9.keys():
    print("key:",k)
print()

#Print all values in the dictionary, one by one:
for val in d9:
    print("only values :",d9[val])
print()

#You can use the keys() method to return the keys of a dictionary:

for v in d9.values():
    print("value:",v)

brand Ford
model Mustang
year 1964

Only key : brand
Only key : model
Only key : year

key: brand
key: model
key: year

only values : Ford
only values : Mustang
only values : 1964

value: Ford
value: Mustang
value: 1964

In [29]:
#Remove Dictionary Items
#1.pop():-The pop() method removes the item with the specified key name:
d5= {"name": "Madhuri", 'country': "India", "Mobile": 1178464}
print(d5)
d5.pop('Mobile')
print("pop=",d5)
print()

#2.popitem()-remove last iem in dict
d1={"Name":"Madhiuri","Age":26,"Class":"Python"}
print(d1)
d1.popitem()
print("popitem=",d1)
print()



#del- by using key name
d2={"Name":"Madhiuri","Age":26,"Class":"Python"}
print(d2)
del d2['Age']
print("del=",d2)

{'name': 'Madhuri', 'country': 'India', 'Mobile': 1178464}
pop= {'name': 'Madhuri', 'country': 'India'}

{'Name': 'Madhiuri', 'Age': 26, 'Class': 'Python'}
popitem= {'Name': 'Madhiuri', 'Age': 26}

{'Name': 'Madhiuri', 'Age': 26, 'Class': 'Python'}
del= {'Name': 'Madhiuri', 'Class': 'Python'}

In [12]:
# clear()-Removes all the elements from the dictionary
d2={"Name":"Madhiuri","Age":26,"Class":"Python"}
print(d2)
d2.clear()
print(d2)

{'Name': 'Madhiuri', 'Age': 26, 'Class': 'Python'}
{}

In [43]:
#fromkeys()-Returns a dictionary with the specified keys and value
x = ('key1', 'key2', 'key3')
dc1= dict.fromkeys(x)
print(dc1)

# or
b = ('key1', 'key2', 'key3')
y = 'A','b','c'
dc2= dict.fromkeys(x, y)
print(dc2)

{'key1': None, 'key2': None, 'key3': None}
{'key1': ('A', 'b', 'c'), 'key2': ('A', 'b', 'c'), 'key3': ('A', 'b', 'c')}

In [55]:
#setdefault()-Returns the value of the specified key. If the key does not exist: insert the key, with the specified value

car = {"brand": "Ford","model": "Mustang","year": 1964}
x = car.setdefault("abn", "Bronzz")
print(car)

## key does not exist.
dict = {'Name': 'Zara', 'Age': 7}
print ("Value : %s" %  dict.setdefault('Age', None))
print ("Value : %s" %  dict.setdefault('address', 'mumbai'))
print (dict)
dict['address']='pune'
print(dict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'abn': 'Bronzz'}
Value : 7
Value : mumbai
{'Name': 'Zara', 'Age': 7, 'address': 'mumbai'}
{'Name': 'Zara', 'Age': 7, 'address': 'pune'}

In [48]:
#Dictionary comprehension:-
d2={x:x for x in range(1,10) if x%2!=0}
print(d2)
d3=[y*2 for y in range(1,10)]
print(d3)

{1: 1, 3: 3, 5: 5, 7: 7, 9: 9}
[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [3]:
d3=dict(Name='Sachin',age=45)
print(d3)

{'Name': 'Sachin', 'age': 45}

In [15]:
d7= {"brand": "Ford","model": "Mustang","year": 1964}
d8=d7.copy()
print("d8=",d8)

d8 {'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [16]:
d9= {"brand": "Ford","model": "Mustang","year": 1964}
for key,value in d9.items():
    print(key,value)

brand Ford
model Mustang
year 1964

In [21]:
d9= {"brand": "Ford","model": "Mustang","year": 1964}
for value in d9.items():
    print(value)

('brand', 'Ford')
('model', 'Mustang')
('year', 1964)

In [81]:
#2.popitem()-remove last iem in dict
d1={"Name":"Madhiuri","Age":26,"Class":"Python"}
print(d1)
d1.pop('mobile')
print("popitem=",d1)
print()

{'Name': 'Madhiuri', 'Age': 26, 'Class': 'Python'}

KeyError: 'mobile'

In [83]:
d1={"Name":"Madhiuri","Age":26,"Class":"Python"}
d9= {"brand": "Ford","model": "Mustang","year": 1964}
print(d1.get('Age'))
d1.update(d9)
print(d1)

print(len(d1))
print(max(d1))
print(min(d1))

26
{'Name': 'Madhiuri', 'Age': 26, 'Class': 'Python', 'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
6
year
Age

In [84]:
d6={'Name':
    {'F_name':'Madhuri','L_name':'Burande'},
    'class':{'Python':100,'jva':110}
   }
print(d6)

{'Name': {'F_name': 'Madhuri', 'L_name': 'Burande'}, 'class': {'Python': 100, 'jva': 110}}

In [66]:
d9= {"brand": 7,"model": 10,"year": 50}
print(d9)
sum1=0
for val in d9.values():
    sum1=sum1+val
print(sum1)

{'brand': 7, 'model': 10, 'year': 50}
67

In [73]:
#Python | Sort Python Dictionaries by Key or Value Handling missing keys in 
d1={"Name":34,"Age":26,"Class":90}
print(d1)

d2=sorted(d1.items())
print(d2)

for key in d2:
    print(key)
    
print(d1.get('address','not found'))
print(d1.get('Age','not found'))

{'Name': 34, 'Age': 26, 'Class': 90}
[('Age', 26), ('Class', 90), ('Name', 34)]
('Age', 26)
('Class', 90)
('Name', 34)
not found
26

In [80]:
d1={'a':1,'b':2,'c':4}
print(min(d1.values()))

1